* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

body {
	background-image: url('/src/img/bac.jpg');
	background-size: 100%;
}

body h1, label{
	color: white;
	padding: 3	px;
}

.btn-bto-main {
    border-radius: 10px;
	padding: .2em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: white;
	background-color:rgb(3, 3, 194);
	border-color: #04324c;
	width: 20%;
    clear: both;
    margin: 10px 0px;
    display:inline-block;
}

.input-product {
    border-radius: 10px;
    margin: 0;
	height: 35px;
	border: 3px solid darkblue;
	width: 75%;
}

.back-list{
	background-color: dimgray;
	border-radius: 10px;
	width: 700px;
	text-align: center;
	border-left: 100px;
}

table {
	caption-side: none;
	border-collapse: none;
  }
  
 
tbody tr td {
	width: 2%;
	/* text-align: center; */
	/* border: 1px solid white; */
	border-collapse: none;
}
tbody tr td label{
	width: 300px;
}
tbody tr td img {

	width: 25px;
}

footer {
	margin-top: 20px;
	/* margin-bottom: 0; */
	padding: 20px;
	left: 0;
	height: 10%;
	position: fixed;
	width: 99%;
	text-align: center;
	background: #0c8cd3;
  }

  .product-list {
	  text-align: center;
	  color: white;
  }

  .total, .modal-title{
	  color: white;  
  }

  .modal-content{
	  background-color: darkblue;
  }